<% if instances && instances.any? %>
<table class="list instances"><tbody>
	<% instances.sort_by(&:name).each do |instance| %>
  <tr class="instance">
    <td class="name">
      <strong>
        <% if User.current.allowed_to?(:manager_datacenter,@project) %>
          <%= link_to instance.name, edit_appli_instance_path(@project,@appli,instance) %>
        <% else %>
          <%= instance.name %>
        <% end %>
      </strong>
    </td>
    <td class="servers">
      <%= links_to_servers(@project,instance.servers) %>
    </td>
    <td class="buttons">
      <% if User.current.allowed_to?(:manager_datacenter,@project) %>
      <%= link_to l(:button_update), edit_appli_instance_path(@project,@appli,instance), :class => 'icon icon-edit' %>
      <%= change_link_instance_status(@appli,instance) %>
      <% end %>
    </td>
  </tr>
  <% end -%>
</tbody></table>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
