<h2>
  <%= link_to l(:label_apache_server_plural), apaches_path %>
  &#187; <%= h(@server.name) %>
</h2>

<%= render 'apaches/filter' %>

<% if @apache_file -%>
  <%= render "apache_file" %>
<% else -%>
<table id="apache" class="list issues apache">
  <tr>
    <th><%= l(:field_filename) %></th>
    <th><%= l(:label_apache_vhost) %></th>
  </tr>
  </tr>
  <% @server.apache_files.each do |file| -%>
    <tr>
      <td><%= link_to file, browse_apache_path(@project,@server,:file=>file) %></td>
      <td><%= parse_apache_conf(File.join(@server.apache_dir,file)) %></td>
    </tr>
  <% end -%>
</table>
<% end -%>
