<% if User.current.allowed_to?(:manage_datacenter,@project) %>
<div class="contextual">
  <%= link_to l(:label_network_new), new_network_path, :class => 'icon icon-add' %>
  <%= link_to l(:label_overview), overview_networks_path(@project), :class => 'icon icon-report' %>
</div>
<% end %>

<h2><%= link_to l(:label_network_plural), networks_path %></h2>

<% if @networks.any? %>
<table class="list">		
  <thead>
    <tr>
      <th><%= l(:field_name) %></th>
      <th><%= l(:field_address) %></th>
      <th><%= l(:field_netmask) %></th>
      <th colspan="2"><%= l(:label_ipaddress_plural) %></th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
<% for network in @networks -%>
  <tr class="network <%= cycle("odd", "even") %>">
	  <td style="text-align:left"><%= link_to h(network.name), network_path(@project,network) %></td>
	  <td><%= h(network.address) %></td>
	  <td><%= network.netmask %></td>
    <td style="text-align:right"><%= network.first %></td>
    <td style="text-align:left">- <%= network.last %></td>
    <td class="buttons">
      <% if User.current.allowed_to?(:manage_datacenter,@project) %>
        <%= link_to l(:button_update), edit_network_path(@project,network), :class => 'icon icon-edit' %>
      <% end %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% html_title(l(:label_network_plural)) -%>
