<% content_for :header_tags do -%>
    <%= javascript_include_tag 'datacenter', :plugin => :redmine_datacenter -%>
<% end -%>

<%= error_messages_for 'server' %>

<!--[form:server]-->
<div class="box tabular">
  <% if @server.new_record? && !@datacenter.domain.blank? %>
    <p><%= f.text_field :name, :required => true %><%= @datacenter.domain %></p>
  <% else %>
    <p><%= f.text_field :name, :required => true %></p>
    <p><%= f.text_field :fqdn %></p>
  <% end %>
  <p>
    <label><%= l(:label_virtual) %>?</label>
    <%= check_box_tag "server_virtual", "1", @server.virtual?,
                      :onchange => "toggleVisibility('server_virtual','hypervisor_fields');" %>
    <span id="hypervisor_fields" style="<%= "display:none;" unless @server.virtual? %>">
      <%= l(:label_hypervisor) %>: 
      <%= select("server", "hypervisor_id",
                 @hypervisors.map{|p| [p.name,p.id] }, { :include_blank => true }) %>
    </span>
  </p>
  <% #see: https://rails.lighthouseapp.com/projects/8994/tickets/3575
     #not the same problem on update apparently
     unless @server.new_record?  -%>
  <p>
    <label><%= l(:field_interfaces) %></label>
    <% f.fields_for :interfaces do |builder| -%>
      <%= render 'interface_fields', :f => builder %>
    <% end -%>
    <%= add_interface_link l(:button_add_interface), f %>
  </p>
  <% end -%>
  <p><%= f.text_area :description, :rows => 5 %></p>
  <%= f.hidden_field :datacenter_id, :value => @datacenter.id %>
</div>
<!--[eoform:server]-->
