<%= error_messages_for 'server' %>

<!--[form:server]-->
<div class="box tabular">
  <% if @server.new_record? && !@project.datacenter.domain.blank? %>
    <p><%= f.text_field :name, :required => true %><%= @project.datacenter.domain %></p>
  <% else %>
    <p><%= f.text_field :name, :required => true %></p>
    <p><%= f.text_field :fqdn %></p>
  <% end %>
  <p>
    <label><%= l(:label_interface_plural) %></label>
    <%= render :partial => 'interface', :collection => @server.interfaces %>
    <%= add_interface_link l(:button_add_interface) %>
  </p>
  <p><%= f.text_area :description, :rows => 5 %></p>
  <%= f.hidden_field :datacenter_id, :value => @project.datacenter.id %>
</div>
<!--[eoform:server]-->
