<%= error_messages_for 'server' %>

<!--[form:server]-->
<div class="box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_field :fqdn %></p>
  <p><%= f.text_field :ipaddress %></p>
  <p><%= f.text_area :description, :rows => 5 %></p>
</div>
<!--[eoform:server]-->
