<% @datacenter ||= @project.datacenter %>
<% if @datacenter %>
<p>
  <label><%= l(:label_server_plural) %></label>
  <% servers = Server.for_datacenter(@datacenter.id).all(:order => 'name ASC').select{|s| s.active? || @issue.server_ids.include?(s.id)} %>
  <% if Setting[:plugin_datacenter_plugin][:multiple_select] %>
    <%= collection_select :issue, :server_ids, servers, :id, :name,
                          { :selected => @issue.server_ids, :include_blank => true },
                          { :multiple => (@issue.server_ids.length > 1 ? true : false),
                            :name => 'issue[server_ids][]' } -%>
    <%= link_to_function image_tag('bullet_toggle_plus.png'),
                          "toggle_multi_select_datacenter('issue_server_ids');",
                          :style => "vertical-align: bottom;" %>
  <% else %>
    <% servers.sort_by(&:name).each do |server| %>
      <label class="floating">
        <%= check_box_tag 'issue[server_ids][]', server.id, @issue.has_server?(server) %> <%=h server.name %>
      </label>
    <% end -%>
  <% end %>
</p> 
<% end %>
