<% if User.current.allowed_to?(:manage_datacenter,@project) %>
<div class="contextual">
  <%= link_to l(:label_server_new), new_server_path, :class => 'icon icon-add' %>
</div>
<% end %>

<h2><%= link_to l(:label_server_plural), servers_path %></h2>

<% form_tag({}, :method => :get) do %>
  <fieldset><legend><%= l(:label_filter_plural) %></legend>
  <label><%= l(:field_status) %>:</label>
  <%= select_tag 'status', servers_status_options_for_select(@status, @datacenter), :class => "small", :onchange => "this.form.submit(); return false;"  %>
  <label><%= l(:field_name) %>:</label>
  <%= text_field_tag 'name', params[:name], :size => 30 %>
  <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
  </fieldset>
<% end %>
&nbsp;

<% if @servers.any? %>
<table class="list">		
  <thead><tr>
	<%= sort_header_tag('servers.name', :caption => l(:field_name)) %>
  <%= sort_header_tag('operating_systems.name', :caption => l(:field_operating_system)) %>
	<%= sort_header_tag('hypervisors.name', :caption => l(:label_hypervisor)) %>
	<%= sort_header_tag('interfaces.ipaddress', :caption => l(:field_ipaddress)) %>
	<%= sort_header_tag('description', :caption => l(:field_description)) %>
  <th> </th>
  </tr></thead>
  <tbody>
<% prev = nil %>
<% for server in @servers -%>
  <tr class="server <%= cycle("odd", "even") %>">
    <% if prev == server %>
      <td colspan="3"></td>
      <td class="ipaddress"><%= h(server.ipaddress) %></td>
      <td colspan="2"></td>
    <% else %>
	    <td class="name"><%= link_to h(server.name), server_path(@project,server) %></td>
	    <td class="operating_system"><%= h(server.operating_system.try(:name)) %></td>
	    <td class="hypervisor"><%= link_to(server.hypervisor.name,server_path(@project,server.hypervisor)) if server.hypervisor %></td>
	    <td class="ipaddress"><%= h(server.ipaddress) %></td>
	    <td class="description"><%= server.description %></td>
      <td class="buttons">
        <% if User.current.allowed_to?(:manage_datacenter,@project) %>
          <%= link_to l(:button_update), edit_server_path(@project,server), :class => 'icon icon-edit' %>
          <%= change_link_server_status(server) %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <% prev = server %>
<% end -%>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @server_pages, @server_count %></p>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% html_title(l(:label_server_plural)) -%>
