<div class="contextual">
  <% if User.current.allowed_to?(:manage_datacenter,@project) %>
    <%= link_to l(:button_update), edit_server_path(:project_id => @project, :id => @server), :class => 'icon icon-edit' %> 
    <%= change_link_server_status(@server) %>
  <% end %>
</div>

<h2><%= link_to l(:label_server_plural), servers_path %> &#187; <%=h @server.name %></h2>

<div class="splitcontentleft server">

  <h3><%= @server.fullname %></h3>
  <table class="attributes">
    <tr>
      <th><%= l(:field_description)%>:</th>
      <td><%= textilizable @server, :description %></td>
    </tr>
    <% if @server.virtual? %>
    <tr>
      <th><%= l(:label_hypervisor) %>:</th>
      <td><%= link_to @server.hypervisor.name, server_path(@project,@server.hypervisor) %></td>
    </tr>
    <% elsif @server.hypervisor? %>
    <tr>
      <th><%= l(:label_virtual_machines) %>:</th>
      <td><%= @server.virtual_machines.map{|v| link_to(v.name, server_path(@project,v))}.join(", ") %></td>
    </tr>
    <% end %>
    <tr>
      <th><%= l(:field_interfaces)%>:</th>
      <td>
        <% @server.interfaces.sort_by(&:name).each do |interface| %>
          <p>(<%= interface.name.blank? ? "?" : interface.name %>) <%= interface.ipaddress %></p>
        <% end %>
      </td>
    </tr>
  </table>

  <% if @nagios_status && @nagios_status.problems.any? -%>
  <div id="nagios">
    <% unless @nagios_status.last_updated.nil? -%>
    <div class="contextual">
      <%= l(:label_updated_time, distance_of_time_in_words(Time.now,@nagios_status.last_updated)) %>
    </div>
    <% end -%>
    <h3><%= l_or_humanize(:nagios) %></h3>
    <%= render :partial => 'third_party/nagios/nagios_status' %>
  </div>
  <% end -%>

  <% if @instances.any? %>
  <div class="contextual">
    <%= link_to l(:label_appli_plural), applis_path(@project), :class => 'icon icon-applis' %>
  </div>
  <h3><%= l(:label_appli_plural) %>/<%= l(:label_instance_plural) %></h3>
    <% @instances.sort_by{|x| [x.appli.name, x.name]}.each do |instance| %>
    <p>
      <strong><%= link_to instance.appli.name, appli_path(@project,instance.appli) %></strong>
      (<%= link_to instance.name, edit_appli_instance_path(:project_id => @project, :appli_id => instance.appli, :id => instance) %>) : 
      <%= links_to_servers(@project,instance.servers) %>
    </p>
    <% end %>
  <% end %>
  
  <% if @datacenter.tool_enabled?(:storage) && @server.storage_device? -%>
  <div id="storage" class="device">
    <div class="contextual" style="margin-right:3px">
      <%= l(:label_updated_time, distance_of_time_in_words(Time.now,@server.storage_device.last_updated)) %>
    </div>
    <h3><%= l(:label_storage_device) %></h3>
    <%= render 'third_party/storage/device', :device => @server.storage_device %>
  </div>
  <% end -%>

</div>

<div class="splitcontentright">
  <h3><%= l(:label_related_issues) %></h3>
  <% if @issues.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
  <%= render :partial => 'datacenter_plugin/issues_list_simple', :locals => {:issues => @issues} %>
  <p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>
  <% end %>
</div>

<% html_title(l(:label_server_plural)) -%>
