<div class="contextual">
  <% if User.current.admin? %>
    <%= link_to l(:button_update), edit_server_path(@server), :class => 'icon icon-edit' %> 
    <%= link_to l(:button_delete), @server, :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del' %>
  <% end %>
  <!--<%= link_to l(:label_server_plural), servers_path, :class => 'icon icon-servers' %>-->
</div>

<h2><%= link_to l(:label_server_plural), servers_path %> &#187; <%=h @server.name %></h2>

<div class="splitcontentleft server">

  <h3><%= @server.fqdn %></h3>
  <table class="attributes">
    <tr><th><%=l(:field_description)%>:</th><td><%= @server.description %></td></tr>
    <tr>
      <th><%=l(:label_interface_plural)%>:</th>
      <td>
        <% @server.interfaces.sort_by(&:name).each do |interface| %>
          <p>(<%= interface.name.blank? ? "?" : interface.name %>) <%= interface.ipaddress %></p>
        <% end %>
      </td>
    </tr>
  </table>

  <div class="contextual">
    <%= link_to l(:label_appli_plural), applis_path, :class => 'icon icon-applis' %>
  </div>

  <h3><%= l(:label_appli_plural) %>/<%= l(:label_instance_plural) %></h3>
  <% @server.instances.sort_by{|x| [x.appli.name, x.name]}.each do |instance| %>
    <p>
    <strong><%= link_to instance.appli.name, instance.appli %></strong>
    (<%= link_to instance.name, edit_appli_instance_path(instance.appli,instance) %>) : 
    <%= links_to_servers(instance.servers) %>
    </p>
  <% end %>
</div>

<div class="splitcontentright">
  <h3><%= l(:label_related_issues) %></h3>
  <% if @issues.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
  <%= render :partial => 'issues/list_simple', :locals => {:issues => @issues} %>
  <p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>
  <% end %>
</div>

<% html_title(l(:label_server_plural)) -%>
