<% if issues && issues.any? %>
<% form_tag({}) do %>
	<table class="list issues">		
		<thead><tr>
		<th>#</th>
		<th><%=l(:field_status)%></th>
		<th><%=l(:field_subject)%></th>
		</tr></thead>
		<tbody>	
		<% for issue in issues %>
		<tr id="issue-<%= issue.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
			<td class="id">
			  <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;') %>
				<%= link_to issue.id, :controller => 'issues', :action => 'show', :id => issue %>
			</td>
      <td class="status">
        <%= issue.status %>
      </td>
			<td class="subject">
        <div class="tooltip">
          <%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %>
          <span class="tip">
            <strong><%= l(:field_author) %></strong>: <%= issue.author %> 
            <% unless issue.assigned_to.blank? -%>
            <strong><%= l(:field_assigned_to) %></strong>: <%= issue.assigned_to %>
            <% end -%>
            <br />
            <strong><%= l(:field_created_on) %></strong>: <%= format_date(issue.created_on) %> 
            <strong><%= l(:field_updated_on) %></strong>: <%= format_date(issue.updated_on) %>
          </span>
        </div>
      </td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
<% else %>
	<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
