<% if User.current.allowed_to?(:manage_datacenter,@project) %>
<div class="contextual">
  <%= link_to l(:label_appli_new), new_appli_path(@project), :class => 'icon icon-add' %>
</div>
<% end %>

<h2><%=l(:label_appli_plural)%></h2>

<%= form_tag(applis_path(@project), :method => :get) do %>
  <fieldset><legend><%= l(:label_filter_plural) %></legend>
  <label><%= l(:field_status) %>:</label>
  <%= select_tag 'status', applis_status_options_for_select(@status,@datacenter), :class => "small", :onchange => "this.form.submit(); return false;"  %>
  <label><%= l(:field_name) %>:</label>
  <%= text_field_tag 'name', params[:name], :size => 30 %>
  <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
  </fieldset>
<% end %>
&nbsp;

<% if @applis.any? %>
<table class="list">		
  <thead><tr>
	<%= sort_header_tag('name', :caption => l(:field_name)) %>
  <%= sort_header_tag('instances', :caption => l(:label_instance_plural)) %>
	<%= sort_header_tag('description', :caption => l(:field_description)) %>
  <th> </th>
  </tr></thead>
  <tbody>
<% for appli in @applis -%>
  <tr class="appli <%= cycle("odd", "even") %>">
	  <td class="name"><%= link_to h(appli.name), appli_path(@project,appli) %></td>
    <td class="instances"><%= links_to_instances(@project,appli) %>
	  <td class="description"><%= appli.short_description(80).html_safe %></td>
    <td class="buttons">
      <% if User.current.allowed_to?(:manage_datacenter,@project) %>
      <%= link_to l(:button_update), edit_appli_path(@project,appli), :class => 'icon icon-edit' %>
      <%= change_link_appli_status(appli) %>
      <% end %>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>

<p class="pagination"><%= pagination_links_full @appli_pages, @appli_count %></p>

<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% html_title(l(:label_appli_plural)) -%>
