<div class="contextual">
  <% if User.current.allowed_to?(:manage_datacenter,@project) %>
    <%= link_to l(:button_update), edit_appli_path(@project,@appli), :class => 'icon icon-edit' %>
    <%= change_link_appli_status(@appli) %>
  <% end %>
  <!--<%= link_to l(:label_appli_plural), applis_path, :class => 'icon icon-applis' %>-->
</div>

<h2><%= link_to l(:label_appli_plural), applis_path %> &#187; <%=h @appli.name %></h2>

<div class="splitcontentleft appli">

  <h3><%= l(:field_description) %></h3>
  <p><%= textilizable @appli, :description %></p>
  
  <% if User.current.allowed_to?(:manage_datacenter,@project) %>
    <div class="contextual">
      <%= link_to l(:label_instance_new), new_appli_instance_path(@project,@appli), :class => 'icon icon-add' %>
    </div>
  <% end %>
  <h3><%= l(:label_instance_plural) %></h3>
  <%= render :partial => 'instances/list_simple', :locals => {:instances => @appli.instances} %>
  
</div>

<div class="splitcontentright">
  
  <div class="contextual">
    <% form_tag({}, :method => :get) do %>
      <%= select_tag 'filter',
        appli_instances_options_for_select(@appli, params[:filter]),
        :class => "small",
        :onchange => "this.form.submit(); return false;" %>
    <% end %>
  </div>

  <h3><%= l(:label_related_issues) %></h3>
  <%= render :partial => 'datacenter_plugin/issues_list_simple', :locals => {:issues => @issues} %>
  <% if @issues.any? %>
    <p class="pagination"><%= pagination_links_full @issue_pages, @issue_count %></p>
  <% end %>

</div>

<% html_title(l(:label_appli_plural)) -%>
