<h2><%=l(:label_datacenter_list_plural)%></h2>

<% [OperatingSystem].each do |klass| %>
<h3><%= l(:"label_#{klass.name.underscore}_plural") %></h3>

<% list = klass.all(:order => 'lft') %>
<% if list.any? %>
<table class="list">
<tr>
    <th><%= l(:field_name) %></th>
    <th style="width:15%;"><%= l(:label_hypervisor) %>?</th>
    <th align="center" style="width:10%;"> </th>
</tr>
<% list.each do |element| %>
<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <%= ("&nbsp;" * 4 * element.level).html_safe %>
    <%= link_to h(element.name), edit_nested_list_path(element, :type => klass.name) %>
  </td>
  <td class="center" style="width:15%;"><%= checked_image element.hypervisor? %></td>
  <td class="buttons">
    <%= link_to l(:button_delete), nested_list_path(element, :type => klass.name), 
    															 :method => :delete,
    															 :confirm => l(:text_are_you_sure),
    															 :class => 'icon icon-del' %>
  </td>
</tr>
<% end %>
</table>
<% reset_cycle %>
<% end %>

<p>
  <%= link_to l(:label_new), new_nested_list_path(:type => klass.name) %>
  <% if list.any? -%>
    | <%= link_to(l(:button_sort), rebuild_nested_lists_path(:type => klass.name), :method => :put) %>
  <% end -%>
</p>
<% end %>
