<%= error_messages_for 'datacenter' %>

<!--[form:datacenter]-->
<div class="box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_area :description, :rows => 5 %></p>
  <p><%= f.text_field :domain %></p>
  <%= f.hidden_field :project_id, :value => @project.id %>
</div>
<!--[eoform:datacenter]-->
