<%= error_messages_for 'datacenter' %>

<!--[form:datacenter]-->
<div class="box tabular">
  <p><%= f.text_field :name, :required => true %></p>
  <p><%= f.text_area :description, :rows => 5 %></p>
  <p><%= f.text_field :domain %></p>
  <%= f.hidden_field :project_id, :value => @project.id %>
  <fieldset>
    <legend><%= l(:text_third_party_tools) %></legend>
    <p>
      <label for="datacenter_options_nagios_enabled">
        <%= l_or_humanize(:nagios) %>
      </label>
      <%= datacenter_check_box("nagios_enabled", @datacenter.options["nagios_enabled"]=="1") %>
    </p>
    <p>
      <label for="datacenter_options_storage_enabled">
        <%= l_or_humanize(:storage) %>
      </label>
      <%= datacenter_check_box("storage_enabled", @datacenter.options["storage_enabled"]=="1") %>
      <%= f.hidden_field :storage_type, :value => "ibm" %>
    </p>
    <p>
      <label for="datacenter_options_crontabs_enabled">
        <%= l(:label_crontab_plural) %>
      </label>
      <%= datacenter_check_box("crontabs_enabled", @datacenter.options["crontabs_enabled"]=="1") %>
    </p>
  </fieldset>
</div>
<!--[eoform:datacenter]-->
