<div class="contextual">
  <% if User.current.allowed_to?(:manage_datacenter,@project) %>
    <%= link_to l(:button_update), {:action => 'edit', :project_id => @project}, :class => 'icon icon-edit' %> 
    <!--<%= change_link_datacenter_status(@datacenter) %>-->
  <% end %>
</div>

<h2><%= l(:label_datacenter) %></h2>

<div class="splitcontentleft datacenter">

  <h3><%= @datacenter.name %></h3>
  <table class="attributes">
    <!--<tr>
      <th><%= l(:field_project)%>:</th>
      <td><%= project_link(@datacenter) %></td>
    </tr>-->
    <tr>
      <th><%= l(:label_overview) %></th>
      <td class="overview">
        <p>
          <%= link_to "#{@datacenter.applis_number} #{l(:label_appli_plural)} (#{@datacenter.instances_number} #{l(:label_instance_plural)})",
                      {:controller => 'applis', :project_id => @project},
                      :class => 'applis' %>
        </p>
        <p>
          <%= link_to "#{@datacenter.servers_number} #{l(:label_server_plural)}",
                      {:controller => 'servers', :project_id => @project},
                      :class => 'servers' %>
        </p>
      </td>
    </tr>
    <tr>
      <th><%= l(:field_description)%></th>
      <td><%= textilizable @datacenter, :description %></td>
    </tr>
  </table>

</div>

<!--
<div class="splitcontentright">
  <div class="box">
  </div>
</div>
-->

<% html_title(l(:label_datacenter)) -%>
