<% content_for :sidebar do %>
  <div id="admin-menu">
    <% if User.current.admin? %>
	  <h3><%=l(:label_administration)%></h3>
    <ul>
      <li><%= link_to l(:label_project_plural), {:controller => 'admin', :action => 'projects'}, :class => 'projects' %></li>
      <li><%= link_to l(:label_user_plural), {:controller => 'users'}, :class => 'users' %></li>
      <li><%= link_to l(:label_group_plural), {:controller => 'groups'}, :class => 'groups' %></li>
      <li><%= link_to l(:label_datacenter_plural), {:controller => 'datacenters'}, :class => 'datacenters' %></li> 
      <li><%= link_to(l(:button_configure), {:controller => 'settings', :action => 'plugin', :id => "datacenter_plugin"}, :class => 'icon icon-package') %></li>
    </ul>
    <% end %>
    <% unless @project.nil? || @project.datacenter.nil? %>
	  <h3><%=l(:label_datacenter)%></h3>
    <ul>
      <li><%= link_to l(:label_appli_plural), {:controller => 'applis', :project_id => @project}, :class => 'applis' %></li>
      <li><%= link_to l(:label_server_plural), {:controller => 'servers', :project_id => @project}, :class => 'servers' %></li>
      <li><%= link_to l(:label_network_plural), {:controller => 'networks', :project_id => @project}, :class => 'networks' %></li>
    </ul>
    <% end %>
  </div>
<% end %>

<%= render :file => "layouts/base" %>
