<% content_for :sidebar do %>
  <div id="admin-menu">
    <% if User.current.admin? && (Setting[:plugin_redmine_datacenter].blank? || !Setting[:plugin_redmine_datacenter][:hide_admin_links]) %>
	  <h3><%=l(:label_administration)%></h3>
    <ul>
      <li><%= link_to l(:label_project_plural), {:controller => 'admin', :action => 'projects'}, :class => 'projects' %></li>
      <li><%= link_to l(:label_user_plural), {:controller => 'users'}, :class => 'users' %></li>
      <li><%= link_to l(:label_group_plural), {:controller => 'groups'}, :class => 'groups' %></li>
      <li><%= link_to l(:label_datacenter_plural), {:controller => 'datacenters'}, :class => 'datacenters' %></li> 
      <li><%= link_to(l(:button_configure), {:controller => 'settings', :action => 'plugin', :id => 'redmine_datacenter'}, :class => 'icon icon-package') %></li>
    </ul>
    <% end %>
    <% unless @project.nil? || @datacenter.nil? %>
	  <h3><%=l(:label_datacenter)%></h3>
    <ul>
      <li><%= link_to l(:label_appli_plural), {:controller => 'applis', :project_id => @project}, :class => 'applis' %></li>
      <li><%= link_to l(:label_server_plural), {:controller => 'servers', :project_id => @project}, :class => 'servers' %></li>
      <li><%= link_to l(:label_network_plural), {:controller => 'networks', :project_id => @project}, :class => 'networks' %></li>
      <% if @datacenter.tool_enabled?(:crontabs) -%>
      <li><%= link_to l(:label_crontab_plural), {:controller => 'crontabs', :project_id => @project}, :class => 'crontabs' %></li>
      <% end -%>
      <% if @datacenter.tool_enabled?(:apache) -%>
      <li><%= link_to l(:label_apache_server_plural), {:controller => 'apaches', :project_id => @project}, :class => 'apaches' %></li>
      <% end -%>
    </ul>
    <% end %>
    <%= call_hook :view_layouts_datacenter_sidebar %>
  </div>
<% end %>

<%= render :file => "layouts/base" %>
